@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height:100%;
}

body {
  background: #D3BECF;
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Lato', sans-serif;
}

.content {
  margin: 40px auto;
  width: 70%;
}

.clearfix {
  clear: both;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

header {
  background: transparent;
  padding: 2px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

#footer {
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
  background:#D3BECF;
}